#root {
  text-align: center;
}

header {
  position: sticky;
  top: 0;

  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #555a64;

  padding: 0 50px;
}

nav {
  display: flex;
  gap: 15px;
 
}

nav a {
  color: white;
}

nav a.active {
  color: #646cff;
}

button.page-selector {
  margin-top: 15px;
  margin-left: 10px;
}

button.page-selector__current {
  border-color: #646cff;
}

.post-section {
  padding: 2rem;
  margin: 0 auto;
}